<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body {
            min-height: 100vh;
            width: 100%;
            font-size: 20px;
            background: black;
            background-size: cover;
            background-position: center;
        }
        .myimage {
            text-align: center;
        }
        .container {
            position: absolute;
            padding: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 45%;
            max-height: 80%;
            width: 100%;
            color: #fff;
            background: black;
            border: 1px solid#fff;
            border-radius: 7px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
    <div class="container">
        <header><h1 style="text-align: center;">Welcome! Dear {username}</h1></header><br>
        <div class="myimage"> <img src="/profileImage/reunite.png" width="80px" height="80px"><br><br></div>
        <h4>Congratulations! You've successfully created your account. We're excited to get you started. Let's
            connect in the Virtual World together.</h4><br>
    </div>
</body>
</html>